* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('./assets/swapi-home.png');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  overflow: auto;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: goldenrod;
  z-index: 100; 
}

.Navbar {
  position: fixed;
  margin-top: 50px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: goldenrod;
  z-index: 100; 
}

.Navbar a {
  color: goldenrod;
}

.Navbar a:hover {
  color: goldenrod;
  cursor: pointer;
}

.active-menu-item {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}

.people,
.starship,
.vehicles,
.species,
.planets,
.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.people,
.starship,
.vehicles,
.species,
.planets,
.films h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(6px);
  width: 350px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 5px rgb(26, 26, 26);
  margin: 20px;
  color: goldenrod;
}

.card:hover {
  cursor: pointer;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(6px);
  width: 350px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 5px rgb(26, 26, 26);
  margin: 20px;
  color: goldenrod;
  position: fixed; 
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.detail a {
  color: whitesmoke;
}

.Loading {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-shadow: 0 0 12px red;
}

.Home,
.Finding {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-shadow: 0 0 12px blue;
}