:root {
  font-family: 'Anonymous Pro', monospace;
  /* line-height: 1.5; */
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes move-background {
  0% {
        transform: translate3d(0px, 0px, 0px);
    }
  10%{ 
        transform: translate3d(100px, 0px, 0px);  
    }
  20%{ 
        transform: translate3d(0px, 0px, 0px);  
    }
  30%{ 
        transform: translate3d(100px, 0px, 0px);  
    }
  40%{ 
        transform: translate3d(0px, 0px, 0px);  
    }
  50%{ 
        transform: translate3d(100px, 0px, 0px);  
  }
  60%{ 
        transform: translate3d(0px, 0px, 0px);  
    }
  70%{ 
        transform: translate3d(100px, 0px, 0px);  
    }
  80%{ 
        transform: translate3d(0px, 0px, 0px);  
    }
  90%{ 
        transform: translate3d(100px, 0px, 0px);  
    }
  100%{ 
        transform: translate3d(0px, 0px, 0px);  
    }
}

